/*the 538 font*/
@font-face {
  font-family: Decima;
  src: url('../fonts/JLSDataGothicC_NC.otf');
  src: url('../fonts/JLSDataGothicR_NC.otf');
  }
  
.container {
  width:90%;
}

@media only screen and (max-width: 768px) {
    .container{
        width:100%;
    }
}
  
#map {
 width:90%;
 display:inline-block;
 position:relative;
        }
        
#text {
 width:90%;
 margin-top:20%;
 display: inline-block;
 position:absolute;
}
        
#navbar {
    background:black;
    height:8%;
    color:white;
    position:fixed;
    z-index:1;
}


#white-logo {
  max-width:100%;
  height:90%;
}

@media only screen and (max-width: 768px) {
    #white-logo{
        height:70%;
    }
}

#logo-text-area {
 padding-top:0.5%;
}

#logo-text {
    font-family:Decima;
    font-size:1.8em;
    font-weight:bold;
    color:white;
    letter-spacing:3px;
}

@media only screen and (max-width: 768px) {
    #logo-text{
        display:none;
    }
}

#interactive-title {
  padding-left:10%;
  padding-top:1.2%
}

#interactive-text {
    color:#FFA319;
    font-family:Decima;
    font-size:1.2em;
    letter-spacing:2px;
    margin-left:20%;
}

@media only screen and (max-width: 768px) {
   #interactive-text {
        margin-left:0;
        margin-right:30%;
    }
}

#social-nav {
  padding-left:35%;
  padding-top:1%;
}

#social-nav a {
  display:inline-block;
  color:white;
}

@media only screen and (max-width: 768px) {
   #social-nav {
        padding-left:30%;
    }
}
@media only screen and (max-width: 768px) {
   #social-nav a{
        zoom:50%;
    }
}


#social-nav a:hover {
  color:#FFA319;
}

#twitter {
  padding-right:3%;
}

#content {
  margin-top:5%;
}

@media only screen and (max-width: 768px) {
    #content{
        margin-top:15%;
    }
}

#banner-box {
    width:90%
}

#banner-box a {
    margin-left:20%;
}

img {
  max-width:100%;
  height:auto;
}

#banner-ad {
    padding:2% 0% 2% 0%;
    border-bottom:1px solid black;
}

@media only screen and (max-width: 768px) {
    #banner-box a{
        margin:auto;
    }
}


#headline-box {
    text-align:center;
    border-bottom:1px solid #eeeeee;
}

@media only screen and (max-width: 768px) {
    #headline-text{
        text-align:left;
    }
}

h1 {
    font-family: Franklin-Antiqua BQ, serif;
    font-size:3em;
}

h2, h4, h5 {
  font-family:Helvetica;
  font-weight:bold;
}

.methods-text {
  font-size:0.9em;
}

.article-text, #map-text1, #map-text2, #map-text3, #map-text4 {
    font-family:Arial;
    font-size:1.2em;
}

.decima {
    font-family:Decima;
}


ul li {
    list-style:none;
    margin:none;
}

#methods {
    color: #1996E8;
    font-family:Times New Roman;
    font-weight:bold;
    font-size:1.2em;
}

#map1, #map2, #map3 {
  width:100%;
  height:100%;
}

iframe {
  border:none;
}

#map-text-area{
    margin-top:15%;
}



#map-section, #line-section, #table-section {
    padding-bottom:5%;
    border-bottom:1px solid #eeeeee;
}

#line-section, #table-section {
    margin-top:2%;
}

#cities {
    font-family:Arial;
}


#alamos, #suffolk, #kendall {
  color:orange;
}

#table-section {
  border-bottom:2px solid black;
}

#related-stories-area {
  padding-left:5%;
}

#related-stories-headline {
  margin-left:1%;
}

#related-stories-area a {
  color:black;
}

#footer-top-bar {
  border-top:5px solid black;
}

#footer-top-bar a {
  color:gray;
}

#footer-top-bar .nav {
  padding-top:1%;
}

#espn{
  margin-left:1.5%;
}

#footer-bottom-bar {
  background:black;
  padding-left:1%;
}

#footer-bottom-bar h5 {
font-weight:normal;
}

#footer-bottom-bar a {
  color:white;
}

#science {
  margin-left:4%;
}

#fine-print-footer {
  padding-top:0.7%
}

#fine-print {
  color:gray;
  font-size:0.7em;
  text-align:center;
  line-height:200%;
}

#mobile-fine-print {
  font-size:0.6em;
  line-height:150%;
  text-align:center;
}

#fine-print a {
  color:black;
}


@media only screen and (max-width: 768px) {
    iframe, .container {
        width:100%;
        height:auto;
    }
}

@media only screen and (max-width: 768px) {
    iframe {
        zoom:150%;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    #desktop-footer {
      display:none;/*hide desktop footer on smaller screens*/
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    #mobile-footer {
      display:block;/*show mobile footer on smaller screens*/
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    #mobile-footer {
      display:none;/*hide mobile footer on larger screens*/
    }
}

#mobile-footer-top-bar {
  border-top:2px solid black;
  border-bottom:1px solid #dddddd;
}

#mobile-footer a {
  color:gray;
}

#mobile-footer-top-bar a {
  margin-left:35%;
}

#mobile-footer-bar2 {
  border-bottom:1px solid #dddddd;
}

#mobile-contact, #mobile-jobs {
  border-right:1px solid #dddddd;
}

#mobile-footer-bar2, #mobile-footer-bar3 {
  text-align:center;
}

#mobile-footer-bar4, #mobile-footer-bar5, #mobile-footer-bar6, #mobile-footer-bar7, #mobile-footer-bar8 {
  background:#eeeeee;
  text-align:center;
  margin:1% 0 1% 0;
}
